/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#player {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px !important;
  height: 35px !important;
  border-radius: 50% !important;
  z-index: 2;
  background: none !important;
  transform-origin: center center;
  overflow: visible;
  padding: 0px;
  margin: 0px;
  overflow: visible !important;
  transition: 0.2s ease;
}
#player svg {
  padding: 0px;
  opacity: 0.1;
  position: absolute;
  height: 60px !important;
  width: 60px !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  transform-origin: center center;
  object-position: top center;
  object-fit: contain !important;
  overflow: visible !important;
  transform: translatex(-12.5px) !important;
}
#player #mainPlayerWalkLeftF1, #player #mainPlayerWalkLeftF2, #player #mainPlayerWalkLeftF3,
#player #mainPlayerWalkRightF1, #player #mainPlayerWalkRightF2, #player #mainPlayerWalkRightF3 {
  transform: translatey(-11.5px) !important;
}

.playerHead {
  fill: #29abe2;
  stroke-miterlimit: 10;
  stroke-width: 10px;
}

.playerHead, .arms {
  stroke: #000;
  transform-origin: center center;
}

.arms {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: bevel;
  stroke-width: 20px;
}

.feet {
  stroke-width: 0px;
  transform-origin: center center;
}

#changeColorButton, #playMusicGameWorld {
  height: 20px;
  padding: 20px !important;
  background-color: white !important;
  fill: black !important;
  border-radius: 50px;
  overflow: visible;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.369);
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}

.hidden {
  display: none !important;
}

body {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#sidewalk {
  height: 50px !important;
  top: 160px !important;
  border-top: 2px solid #606060;
  border-bottom: 2px solid #606060;
  width: 100vw;
  background-image: url("../resources/concrete.jpg");
  background-repeat: repeat-x;
  background-size: 50px;
  background-position: center center;
  object-fit: contain;
  position: absolute;
  left: 0px;
  z-index: -5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
}

.sidewalk-long {
  width: 60px !important;
  left: -60px !important;
  height: 100vh;
  background-image: url("../resources/concrete.jpg");
  background-repeat: repeat-y;
  background-size: 60px;
  background-position: top center;
  object-fit: contain;
  background-color: red;
  position: absolute;
  top: 0px;
  z-index: -5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
}

.sidewalk-long-right {
  width: 60px !important;
  right: -60px !important;
  height: 100vh;
  background-image: url("../resources/concrete.jpg");
  background-repeat: repeat-y;
  background-size: 60px;
  background-position: top center;
  object-fit: contain;
  background-color: red;
  position: absolute;
  top: 0px;
  z-index: -5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
}

#door-bar {
  height: 100px;
  width: 20px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 20px;
}

#game-container {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  border: 1px solid #000;
  position: relative;
}

#toll_1b {
  height: 180px;
  width: 5px;
  position: absolute;
  right: 0px;
  top: 0px;
}
#toll_1b:before {
  display: none;
}
#toll_1b .overlay {
  display: none !important;
}

#toll_2a {
  height: 180px;
  width: 5px;
  background-color: red;
  position: absolute;
  left: 0px;
  top: 0px;
}
#toll_2a:before {
  display: none;
}
#toll_2a .overlay {
  display: none !important;
}

#toll_2b {
  width: 180px;
  height: 5px;
  background-color: red;
  position: absolute;
  right: 200px;
  bottom: 0px;
}
#toll_2b:before {
  display: none;
}
#toll_2b .overlay {
  display: none !important;
}

#toll_3a {
  width: 180px;
  height: 5px;
  background-color: red;
  position: absolute;
  top: 0px;
  right: 200px;
}
#toll_3a:before {
  display: none;
}
#toll_3a .overlay {
  display: none !important;
}

#interior-container {
  background-color: transparent !important;
}

#highway {
  background-image: url("../resources/road.jpg");
  background-repeat: repeat;
  background-size: 160px;
  background-position: center center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75) inset;
  width: 100%;
  height: 160px;
  z-index: -1;
}

.interior-container-two {
  height: 100vh !important;
  width: 200px;
  background-image: url("../resources/road.jpg");
  background-repeat: repeat;
  background-size: 60px;
  background-position: center center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.356);
  z-index: -1;
  position: absolute;
  right: 190px;
}
.interior-container-two:before {
  content: "";
  width: 2px;
  height: 100vw;
  background-color: yellow;
  position: absolute;
  left: 85px;
  top: 0px;
}
.interior-container-two:after {
  content: "";
  width: 2px;
  height: 100vw;
  background-color: yellow;
  position: absolute;
  left: 95px;
  top: 0px;
}

#player {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
}

#car {
  z-index: 3;
}
#car:before {
  content: url("../resources/svg/truck.svg");
}

.ufo:before {
  content: url("../resources/vehicles/ufo.svg");
}

.npcCar {
  height: 60px !important;
  width: 120px !important;
  border-radius: 15px;
}
.npcCar:before {
  content: url("../resources/svg/police.svg");
}

#building {
  width: 100px;
  height: 150px;
  background-color: rgb(76, 76, 76);
  position: absolute;
  left: 200px;
  top: 200px;
  box-shadow: 10px 10px 0px black;
}

#building3 {
  position: absolute;
  top: 0px;
  text-align: center;
  background: none !important;
  overflow: hidden;
}
#building3:before {
  content: url("../resources/buildings/bar_two.svg");
  transform: none;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: none !important;
}

#building4 {
  background-color: red;
}

#bar_model {
  position: absolute;
  top: 0px;
  background: none !important;
}
#bar_model:before {
  content: url("../resources/buildings/bar.svg");
  transform: none;
  top: 0px;
  left: -10px;
  background: none !important;
}

#building5, #pot_right {
  background-color: green !important;
}
#building5:after, #pot_right:after {
  content: "420Spot";
  color: white;
  position: absolute;
  top: 0px;
  text-align: center;
}

#building6 {
  position: absolute;
  top: 0px;
  text-align: center;
  background: purple !important;
}

#interior-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  padding: 50px;
}
#interior-container .building {
  z-index: 4;
  font-family: montserrat;
  font-size: 1.5rem !important;
  perspective: 300px; /* Adjust the perspective value for the desired depth effect */
  position: relative;
}
#interior-container .building .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}
#interior-container .building .overlay:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 100%;
  z-index: -4;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.28) 50%);
  transform-origin: bottom right;
  transform: skewy(-25deg);
  z-index: -2;
}
#interior-container .building:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content; /* Adjust the height of the base */
  background-color: #404040; /* Darkest color for the base */
}
#interior-container .building:before {
  content: "";
  position: absolute;
  top: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: -4;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.28) 100%);
  transform-origin: top center;
  transform: skewX(-25deg);
  z-index: -2;
}

.building {
  z-index: 4;
  font-family: montserrat;
  font-size: 1.5rem !important;
  perspective: 300px; /* Adjust the perspective value for the desired depth effect */
  position: relative;
}

/* Add door styles */
#door, #door-home, #door-casino, #door-warehouse {
  width: 20px;
  height: 50px;
  background-color: #ff00ea; /* Brown color for the door */
  position: absolute;
  z-index: 2; /* Make sure the door is above the background */
  border-radius: 0px 50% 50% 0px;
}

.bullet {
  position: block;
  width: 15px !important;
  height: 15px !important;
  background-color: white;
  border-radius: 50%;
}

body {
  margin: 0;
  background-color: darkgreen;
  background-image: url("../resources/grass.jpg");
  background-repeat: repeat;
  background-size: 100px;
  background-position: center center;
}

.enemy {
  position: static;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  border: 2px solid black;
  box-shadow: 0px 0px 3px black;
  z-index: -3;
}

.enemy {
  background-color: aqua;
}

.dead {
  z-index: -2;
  background-color: #28004f;
  display: flex;
  align-items: center;
}
.dead:after {
  z-index: -10;
  content: url("../resources/player/splatter.svg");
  transform: none;
  top: inherit;
  height: 200%;
  width: 200%;
  transform: translateX(-10px);
  left: inherit;
  position: absolute;
  background: none !important;
  transform-origin: center center;
}

#player {
  height: 20px;
  width: 20px;
  background-color: orange;
}

.explosion {
  transform: scale(1.5);
  opacity: 0;
}

.no-highlight {
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}

a {
  text-decoration: none;
}

.cityScape {
  height: 100px;
  width: 200%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  background-image: url("../resources/svg/city.svg");
  background-repeat: repeat-x;
  background-size: 120px;
  background-position: center center;
}

.bodyWrapper {
  height: fit-content;
  width: fit-content;
}

#infoSection {
  height: 100vh;
}

.gameStartButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.howToPlay {
  display: flex;
  position: absolute;
  height: 100vh !important;
  width: fit-content;
  right: 0px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(255, 253, 182);
  font-family: montserrat;
  background-repeat: repeat;
  background-size: 200px;
  background-position: center center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.387);
}
.howToPlay ul {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-bottom: 100px;
}
.howToPlay ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.howToPlay ul li h2 {
  font-size: 2rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
}
.howToPlay ul li h3 {
  font-size: 1.5rem;
  color: #4f1380;
  margin-top: 20px;
}
.howToPlay ul li h3 span {
  background-color: white;
  height: 40px;
  min-width: 40px !important;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
}

#titleScreenLogo {
  position: fixed;
  left: 100px;
  bottom: 0;
  top: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#titleScreenLogo svg {
  width: 50vw !important;
}

#titleWrapper {
  height: 100vh;
  width: 100vw;
  background: linear-gradient();
}

.golden-button {
  margin-top: 40px;
  margin-right: 10px;
  touch-action: manipulation;
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 0.5em;
  height: 4.5rem;
  width: 12rem;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4), inset 0 -2px 5px 1px rgb(139, 66, 8), inset 0 -1px 1px 3px rgb(250, 227, 133);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #a55d07;
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgb(250, 227, 133);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 100% 100%;
  background-position: center;
}

.golden-button:focus,
.golden-button:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgb(250, 227, 133);
  border: 1px solid rgba(165, 93, 7, 0.6);
  color: rgba(120, 50, 5, 0.8);
}

.golden-button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4), inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgb(250, 227, 133);
}

.titleBG {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  --color: #a748f5;
  background: linear-gradient(95deg, var(--color) 25%, transparent 25%) -50px 0, linear-gradient(-15deg, var(--color) 25%, transparent 25%) -50px 0, linear-gradient(25deg, transparent 75%, var(--color) 75%) -50px 0, linear-gradient(-45deg, transparent 75%, var(--color) 75%) -50px 0, linear-gradient(-15deg, transparent 75%, var(--color) 75%) -50px 0;
  background-color: #b669fd;
  background-size: 80px 80px;
}

.topBar {
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px;
}
.topBar a h2 {
  cursor: pointer !important;
  z-index: 10;
}
.topBar h2 {
  font-family: "montserrat";
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.golden-sheen {
  margin-top: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4), inset 0 -2px 5px 1px rgb(139, 66, 8), inset 0 -1px 1px 3px rgb(250, 227, 133);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #a55d07;
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgb(250, 227, 133);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 100% 100%;
  background-position: left;
  animation: goldShimmer 15s ease infinite alternate;
}

@keyframes throbbing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95) skewY(-5deg);
  }
  100% {
    transform: scale(1);
  }
}
.throbbing-text {
  font-size: 2em;
  font-weight: bold;
  color: #ff5733; /* Choose your desired text color */
  animation: throbbing 2.5s 0.5s infinite;
}

.floating-svg {
  position: absolute;
  animation: floatDown linear infinite;
  animation-duration: 5s;
  animation-delay: 0s;
}

@keyframes floatDown {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes bgDiamonds {
  0% {
    right: 0%;
  }
  100% {
    right: 300%;
  }
}
@keyframes goldShimmer {
  0% {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4), inset 0 -2px 5px 1px rgb(139, 66, 8), inset 0 -1px 1px 3px rgb(250, 227, 133);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07;
    color: rgb(120, 50, 5);
    text-shadow: 0 2px 2px rgb(250, 227, 133);
    background-size: 100% 100%;
    background-position: left;
  }
  100% {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgb(250, 227, 133);
    border: 1px solid rgba(165, 93, 7, 0.6);
    color: rgba(120, 50, 5, 0.8);
    background-position: right;
  }
}
.HUD {
  width: auto;
  position: fixed;
  border-radius: 25px;
  min-height: 80px;
  bottom: 40px;
  left: 40px;
  height: auto;
  background-color: red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 99;
  align-items: center !important;
  justify-content: center !important;
}
.HUD .playerBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.HUD .playerBar p {
  font-size: 2rem;
  font-family: montserrat;
  color: white;
}
.HUD .playerBar .healthBar {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}
.HUD .playerBar .healthBar svg {
  fill: black;
  height: 30px;
}
.HUD .playerBar .itemBar {
  display: flex;
}
.HUD .playerBar .itemBar svg {
  fill: black;
}

.reloadText {
  font-size: 5rem;
  color: black;
  font-family: montserrat;
  position: fixed;
  top: 30%;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
  z-index: 40;
  font-weight: 600;
}

#home {
  background-color: brown !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.391);
}

#garden {
  background-color: darkgreen !important;
}

.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  animation: itemAnim 1s ease infinite;
}
.item img {
  padding: 0px;
  margin: 0px;
  text-align: center;
  height: 40px;
  object-fit: contain;
  object-position: center center;
}
.item p {
  color: transparent;
}

@keyframes itemAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#bar {
  background-image: url("../resources/wood_floor.jpg");
  background-repeat: repeat;
  background-size: 60px;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  box-shadow: 0px 0px 150px black inset, 0px 0px 200px black inset, 0px 0px 250px black inset;
}

.bar-window {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 30%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 107, 0.54) 100%);
  transform: skewX(10deg);
}

#bar-door {
  background-color: yellow !important;
}

#bar_parking {
  background-image: url("../resources/textures/asphalt.jpg");
  background-repeat: repeat;
  background-size: 100px;
  background-position: center center;
  z-index: -3;
  box-shadow: none !important;
  border-radius: 0px 0px 10px 0px !important;
}

#bar_carpet_outside {
  background-image: url("../resources/textures/planks.jpg");
  background-repeat: repeat;
  background-size: 100px;
  z-index: -6;
}

#gas_dumpster {
  background-color: rgb(45, 45, 45) !important;
  border-radius: 5px !important;
  z-index: 3;
  box-shadow: none !important;
}

.noShadows .overlay,
#bar_parking .overlay,
#gas_dumpster .overlay,
#bar_carpet_outside .overlay {
  display: none !important;
}
.noShadows:before,
#bar_parking:before,
#gas_dumpster:before,
#bar_carpet_outside:before {
  display: none !important;
}

#casino {
  border: 5px solid rgb(0, 0, 0);
  background-image: url("../resources/casino/carpet.jpg");
  background-repeat: repeat;
  background-size: 60px;
  background-position: center center;
  box-shadow: 0px 0px 150px black inset, 0px 0px 200px black inset, 0px 0px 250px black inset;
}

#casino-chairs {
  background-color: transparent !important;
  box-shadow: none !important;
  transform: rotate(15deg);
}
#casino-chairs:before {
  content: url("../resources/casino/tables_and_chairs.svg");
  transform: none;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: none !important;
}

#roulette-table {
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 50%;
  transform: rotate(15deg);
}
#roulette-table:before {
  content: url("../resources/casino/roulette.svg");
  transform: none;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: none !important;
}

#casino #player {
  width: 40px;
  height: 40px;
}

#casino-door {
  content: url("../resources/svg/exit.svg");
  transform: none;
  top: 0px;
  left: 0px;
  height: 100px !important;
  width: 100px !important;
  transform: rotate(-90deg);
}

#poker-table {
  transform: rotate(-15deg);
  border-radius: 50%;
  background: none !important;
}
#poker-table .overlay {
  display: none;
}
#poker-table:before {
  content: url("../resources/casino/pokerTable.svg");
  transform: none;
  top: 0px;
  left: 0px;
  background: none !important;
}

#pool-table {
  transform: rotate(17.5deg);
}
#pool-table:before {
  content: url("../resources/casino/pool.svg");
  transform: none;
  top: 0px;
  left: 0px;
  background: none !important;
}

#blackjack-table {
  background: none !important;
  border-radius: 100% 100% 0px 0px;
  transform: rotate(-87deg);
}
#blackjack-table .overlay {
  display: none;
}
#blackjack-table:before {
  content: url("../resources/casino/blackjackTable.svg");
  transform: none;
  top: 0px;
  left: 0px;
  background: none !important;
}

#casino-bar {
  background-color: darkgreen;
  background-image: url("../resources/textures/dark_wood.jpg");
  background-repeat: repeat;
  background-size: 80px;
  background-position: center center;
  border-radius: 0px 0px 0px 15px;
}

#casino-chairs .overlay,
#casino-bar .overlay,
#casino-bar-right .overlay,
#roulette-table .overlay,
#dice-table .overlay,
#blackjack-table .overlay {
  display: none !important;
}
#casino-chairs:before,
#casino-bar:before,
#casino-bar-right:before,
#roulette-table:before,
#dice-table:before,
#blackjack-table:before {
  background: none !important;
}

#slot-machine {
  background-color: yellow;
}

.backToFloor {
  height: 120px;
  width: 120px;
  position: fixed;
  top: 40px;
  left: 40px;
}

.slotWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.slot-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  flex: 0 0 50%;
  height: 100%;
  transform: translateY(-60px);
}

.cheese-logo {
  width: 100%;
  transform: translateY(60px);
  display: flex;
  justify-content: center;
  height: fit-content;
  padding: 0px;
  margin: 0px;
  overflow: auto;
}
.cheese-logo svg {
  width: 100px;
  transform: rotate(90deg);
  padding: 0px;
  margin: 0px;
}

.reels {
  display: flex;
  flex-flow: row;
}

.reel {
  border-radius: 15px;
  margin: 10px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin-bottom: 10px;
  font-size: 5rem;
  overflow: hidden; /* Hide overflowing symbols */
  position: relative; /* Position for absolute positioning of symbols */
  background-color: white;
  padding: 20px;
}
.reel div {
  background-color: white;
  padding: 20px;
}

.reel div {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the symbol */
}

#spinButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
}

#roulette_wheel .cls-1 {
  opacity: 0.25;
}
#roulette_wheel .cls-1, #roulette_wheel .cls-2, #roulette_wheel .cls-3, #roulette_wheel .cls-4, #roulette_wheel .cls-5, #roulette_wheel .cls-6, #roulette_wheel .cls-7, #roulette_wheel .cls-8, #roulette_wheel .cls-9, #roulette_wheel .cls-10, #roulette_wheel .cls-11, #roulette_wheel .cls-12, #roulette_wheel .cls-13, #roulette_wheel .cls-14, #roulette_wheel .cls-15, #roulette_wheel .cls-16, #roulette_wheel .cls-17, #roulette_wheel .cls-18, #roulette_wheel .cls-19, #roulette_wheel .cls-20, #roulette_wheel .cls-21, #roulette_wheel .cls-22, #roulette_wheel .cls-23, #roulette_wheel .cls-24, #roulette_wheel .cls-25, #roulette_wheel .cls-26, #roulette_wheel .cls-27, #roulette_wheel .cls-28, #roulette_wheel .cls-29, #roulette_wheel .cls-30, #roulette_wheel .cls-31, #roulette_wheel .cls-32, #roulette_wheel .cls-33, #roulette_wheel .cls-34 {
  stroke-width: 0px;
}
#roulette_wheel .cls-3 {
  fill: #f9e769;
}
#roulette_wheel .cls-4 {
  fill: #f6ff35;
}
#roulette_wheel .cls-5 {
  fill: #4c4642;
}
#roulette_wheel .cls-6 {
  fill: #54370a;
}
#roulette_wheel .cls-7 {
  fill: #541018;
}
#roulette_wheel .cls-8 {
  fill: #398764;
}
#roulette_wheel .cls-9 {
  fill: #3a3a3a;
}
#roulette_wheel .cls-10 {
  fill: #352200;
}
#roulette_wheel .cls-11 {
  fill: #357157;
}
#roulette_wheel .cls-12 {
  fill: #e03636;
}
#roulette_wheel .cls-13 {
  fill: #ce2e2e;
}
#roulette_wheel .cls-14 {
  fill: #d89450;
}
#roulette_wheel .cls-15 {
  fill: #c6854a;
}
#roulette_wheel .cls-16 {
  fill: #c6b8af;
}
#roulette_wheel .cls-17 {
  fill: #e09f65;
}
#roulette_wheel .cls-18 {
  fill: #bfafa5;
}
#roulette_wheel .cls-19 {
  fill: #d8d8d8;
}
#roulette_wheel .cls-20 {
  fill: #a56c42;
}
#roulette_wheel .cls-21 {
  fill: #cec0b7;
}
#roulette_wheel .cls-22 {
  fill: #c1bdbc;
}
#roulette_wheel .cls-23 {
  fill: #333;
}
#roulette_wheel .cls-24 {
  fill: #ba7c49;
}
#roulette_wheel .cls-25 {
  fill: #f2b42c;
}
#roulette_wheel .cls-26 {
  fill: #ffe600;
}
#roulette_wheel .cls-27 {
  fill: #fff;
}
#roulette_wheel .cls-28 {
  fill: #e6c03c;
}
#roulette_wheel .cls-29 {
  fill: #e2e2e2;
}
#roulette_wheel .cls-30 {
  fill: #fce875;
}
#roulette_wheel .cls-31 {
  fill: #ffc232;
}
#roulette_wheel .cls-32 {
  fill: #f15a24;
}
#roulette_wheel .cls-33 {
  fill: #037506;
}
#roulette_wheel .cls-34 {
  fill: #685b51;
}

#player-inventory .inventory-item {
  width: 40px;
  height: 40px;
}
#player-inventory .inventory-item p {
  display: none;
}

.inventoryScreen {
  min-height: 80px;
  min-width: 80px;
  max-width: 400px;
  z-index: 99 !important;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.inventoryScreen h2 {
  font-size: 2rem;
  margin-top: 10px;
}
.inventoryScreen div {
  flex: 1;
  display: flex;
  align-items: center;
}
.inventoryScreen div img {
  height: 30px;
  padding: 10px;
  object-position: center center;
  object-fit: contain;
}/*# sourceMappingURL=index.css.map */