.item{
    display: flex;

    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin:0px; 
    padding:0px;
    img{
        padding:0px;
        margin:0px;
        text-align: center;
        height:40px;
        object-fit: contain;
        object-position: center center;
    }
    p{
        color:transparent;
    }

    animation: itemAnim 1s ease infinite;
}

@keyframes itemAnim{
    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.1);
    }

    100%{
        transform:scale(1);
    }
}