body {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    height:100vh;
    width:100vw;
    overflow: hidden;
}

.sidewalk{
    height:80px;
    top:-80px;

    width:100vw;    
    background-image: url('../resources/concrete.jpg');
    background-repeat: repeat-x;
    background-size: 120px;
    background-position: center center;
    object-fit: contain;
    // background-color: red;
    position: absolute;
    left:0px;
}

#sidewalk{
    height:60px !important;
    top:120px !important;
    
    width:100vw;    
    background-image: url('../resources/concrete.jpg');
    background-repeat: repeat-x;
    background-size: 120px;
    background-position: center center;
    object-fit: contain;
    background-color: red;
    position: absolute;
    left:0px;
    z-index: -5;
}

.bar-window{
    width:300px;
    height:200px;
    position: absolute;
    top:0px;
    left:30%;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255, 255, 107, 0.54) 100%);
    transform:skewX(10deg);
}

#bar-door{background-color: yellow !important;}

#casino{
    // background:rgb(62, 0, 0);
    border:40px solid darkred;
    background-image: url('../resources/casino/carpet.jpg');
    background-repeat: repeat;
    background-size: 80px;
    background-position: center center;

}

#bar{
    // background:rgb(62, 0, 0);
    border:40px solid darkred;
    background-image: url('../resources/wood_floor.jpg');
    background-repeat: repeat;
    background-size: 400px;
    background-position: center center;
}



#casino{
    border:40px solid purple;

}

#door-bar{
    height:100px;
    width:20px;
    background-color: red;
    position: absolute;
    top:50%;
    left:20px;
}

#game-container {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 1px solid #000;
    position: relative;
}


#interior-container {
    // width: 500px;
    height: 20px !important;
    // margin: 20px auto;
    background-image: url('../resources/road.jpg');
    background-repeat: repeat;
    background-size: 100px;
    background-position: center center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.356);
    &:before{
        content: '';
        height:2px;
        width:100vw;
        background-color: yellow;
        position: absolute;
        top:65px;
        left:0px;
    }
    &:after {
        content: '';
        height:2px;
        width:100vw;
        background-color: yellow;
        position: absolute;
        top:58px;
        left:0px;
    }
}
#player {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: absolute;
    z-index: 2;
}

#car{
    background-color: transparent !important;
}

.car{
    &:before{
        content:url('../resources/svg/truck.svg');
    }
}

.npcCar{

        &:before{
            content:url('../resources/svg/police.svg');
        }
    
    
}


  

#building {
    width: 100px;
    height: 150px;
    background-color: rgb(76, 76, 76);
    position: absolute;
    left: 200px;
    top: 200px;
    // z-index: 1;
    box-shadow: 10px 10px 0px black;

}


//gas
#building3{
    position:absolute;
    top:0px;
    text-align: center;
    background: none !important;
    overflow: hidden;
    &:before{
        content:url('../resources/buildings/gas.svg');
        transform:none;
        top:0px;
        left:0px;
        height:100%;
        width:100%;
        background: none !important;
}
}

//pot
#building5{

    position:absolute;
    top:0px;
    text-align: center;
    background: none !important;
    &:before{
        content:url('../resources/buildings/pot.svg');
        transform:none;
        top:0px;
        left:0px;
        background: none !important;
}
}
//bar
#building4{

    position:absolute;
    top:0px;
    text-align: center;
    background: none !important;
    &:before{
        content:url('../resources/buildings/bar.svg');
        transform:none;
        top:0px;
        left:0px;
        background: none !important;
}
}

#building5{
    background-color: green !important;

    &:after{
    content:'420Spot';
    color:white;
    position:absolute;
    top:0px;
    text-align: center;
}}

#building6{
    .overlay{
        top:30%;
    }
    position:absolute;
    top:0px;
    text-align: center;
    background: none !important;
    &:before{
        content:url('../resources/buildings/casino.svg');
        transform:none;
        top:0px;
        left:0px;
        background: none !important;

}
}

#interior-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    padding: 50px;

    .building{
    z-index:4;
    font-family: montserrat;
    font-size: 1.5rem !important;
    perspective: 300px; /* Adjust the perspective value for the desired depth effect */
    position: relative;
    .overlay{
        position: absolute;
        height:100%;
        width:100%;
        top:0px;
        left:0px;
        // background-color: red;
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            right:100%;
            z-index: -4;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.28) 50%);
            transform-origin: bottom right;
            transform: skewy(-25deg) ;
            // box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3); /* Adjust shadow as needed */
            z-index: -2;
        
          }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: fit-content; /* Adjust the height of the base */
        background-color: #404040; /* Darkest color for the base */
      }
    
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        margin-left:auto;
        margin-right:auto;
        z-index: -4;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.28) 100%);
        transform-origin: top center;
        transform: skewX(-25deg) ;
        // box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3); /* Adjust shadow as needed */
        z-index: -2;
    
      }

}
}

 .building{
    z-index:4;
    font-family: montserrat;
    font-size: 1.5rem !important;
    perspective: 300px; /* Adjust the perspective value for the desired depth effect */
    position: relative;
    .overlay{
        position: absolute;
        height:100%;
        width:100%;
        top:0px;
        left:0px;
        // background-color: red;
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            right:100%;
            z-index: -4;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.28) 50%);
            transform-origin: bottom right;
            transform: skewy(-25deg) ;
            // box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3); /* Adjust shadow as needed */
            z-index: -2;
        
          }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: fit-content; /* Adjust the height of the base */
        background-color: #404040; /* Darkest color for the base */
      }
    
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        margin-left:auto;
        margin-right:auto;
        z-index: -4;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.28) 100%);
        transform-origin: top center;
        transform: skewX(-25deg) ;
        // box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3); /* Adjust shadow as needed */
        z-index: -2;
    
      }

}


// interior of building A
/* Add door styles */
#door, #door-home, #door-casino, #door-warehouse {
    width: 20px;
    height: 50px;
    background-color: #ff00ea; /* Brown color for the door */
    position: absolute;
    // left: 40%; /* Adjust the position as needed */
    // top: 50%; /* Adjust the position as needed */
    z-index: 2; /* Make sure the door is above the background */
    border-radius: 0px 50%  50% 0px;
}

.HUD{
    width:100vw;
    position: fixed;
    height:100vh;
}
.HUDtext{
    font-size: 5rem;
    color:white;
    position: fixed;
    text-align: center;
    bottom:0px;
    left:100px;
}

.reloadText{
    font-size: 5rem;
    color:black;
    font-family: oswald;
    position: fixed;
    top:30%;
    text-align: center;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    display: none;
    z-index: 40;
}

.bullet {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color:white;
    border-radius: 50%;    
}

body {
    margin: 0;
    // overflow: hidden;
    background-color: darkgreen;
    background-image: url('../resources/grass.jpg');
    background-repeat: repeat;
    background-size: 100px;
    background-position: center center;
}

#bar,#casino
{ #player{
    width:40px;
    height:40px;
}}

#poker-table{
    background: none !important;
    .overlay{display: none;}
    &:before{
        content:url('../resources/casino/pokerTable.svg');
        transform:none;
        top:0px;
        left:0px;
        background: none !important;


    } 
}

#blackjack-table{
    background: none !important;
    .overlay{display: none;}

    &:before{
        content:url('../resources/casino/blackjackTable.svg');
        transform:none;
        top:0px;
        left:0px;
        background: none !important;


    } 
}

#player, .enemy{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50% !important;
    background-color: rgb(255, 128, 0); /* Customize as needed */
    border:2px solid black;
    box-shadow: 0px 0px 3px black;
    z-index: 2;
    
}
.enemy{
    // transition: transform 0.5s ease-out;
    background-color: aqua;
}

.dead{
    z-index: -2;
    background-color: red;
    display: flex;
align-items: center;
    &:before{
        z-index: -10;
        content:url('../resources/player/splatter.svg');
        transform:none;
        top:inherit;
        height:200%;
        width:200%;

        left:inherit;
        position: absolute;
        background: none !important;
        transform-origin: center center;
    }

}

#player{
    height:23px;
    width:23px;

}
.explosion {
    transform: scale(1.5);
    opacity: 0;
}

.no-highlight{
    user-select: none; // chrome and Opera
    -moz-user-select: none; // Firefox
    -webkit-text-select: none; // IOS Safari
    -webkit-user-select: none; // Safari
 }