body {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
    overflow: hidden;
    // zoom:0.5;
}


.sidewalk{
    height:60px !important;
    top:120px !important;
    
    width:100vw;    
    background-image: url('../resources/concrete.jpg');
    background-repeat: repeat-x;
    background-size: 60px;
    background-position: center center;
    object-fit: contain;
    // background-color: red;
    position: absolute;
    left:0px;
    z-index: -5;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.397);
}
.sidewalk-long{
    width:60px !important;
    left:-60px !important;
    
    height:100vh;    
    background-image: url('../resources/concrete.jpg');
    background-repeat: repeat-y;
    background-size: 60px;
    background-position: top center;
    object-fit: contain;
    background-color: red;
    position: absolute;
    top:0px;
    z-index: -5;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.397);
}

.sidewalk-long-right{
    width:60px !important;
    right:-60px !important;
    height:100vh;    
    background-image: url('../resources/concrete.jpg');
    background-repeat: repeat-y;
    background-size: 60px;
    background-position: top center;
    object-fit: contain;
    background-color: red;
    position: absolute;
    top:0px;
    z-index: -5;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.397);
}




#door-bar{
    height:100px;
    width:20px;
    background-color: red;
    position: absolute;
    top:50%;
    left:20px;
}

#game-container {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 1px solid #000;
    position: relative;
}

#toll_1b{
    height:180px;
    width:5px;
    background-color: red;
    position: absolute;
    right:0px;
    top:0px;
    &:before{
        display: none
    }
    .overlay{
        display: none !important;
    }
}

#toll_2a{
    height:180px;
    width:5px;
    background-color: red;
    position: absolute;
    left:0px;
    top:0px;
    &:before{
        display: none
    }
    .overlay{
        display: none !important;
    }
}

#toll_2b{
    width:180px;
    height:5px;
    background-color: red;
    position: absolute;
    right:200px;
    bottom:0px;
    &:before{
        display: none
    }
    .overlay{
        display: none !important;
    }
}

#toll_3a{
    width:180px;
    height:5px;
    background-color: red;
    position: absolute;
    top:0px;
    right:200px;
    &:before{
        display: none
    }
    .overlay{
        display: none !important;
    }
}


#interior-container {
    // width: 500px;
    height: 20px !important;
    // margin: 20px auto;
    background-image: url('../resources/road.jpg');
    background-repeat: repeat;
    background-size: 100px;
    background-position: center center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75) inset;
    z-index: -2;
    &:before{
        content: '';
        height:2px;
        width:100vw;
        background-color: yellow;
        position: absolute;
        top:65px;
        left:0px;
    }
    &:after {
        content: '';
        height:2px;
        width:100vw;
        background-color: yellow;
        position: absolute;
        top:58px;
        left:0px;
    }
}

.interior-container-two {
    // width: 500px;
    height: 100vh !important;
    width:200px;
    // margin: 20px auto;
    background-image: url('../resources/road.jpg');
    background-repeat: repeat;
    background-size: 60px;
    background-position: center center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.356);
    z-index: -1;
    position: absolute;
    right:190px;
    &:before{
        content: '';
        width:2px;
        height:100vw;
        background-color: yellow;
        position: absolute;
        left:85px;
        top:0px;
    }
    &:after {
        content: '';
        width:2px;
        height:100vw;
        background-color: yellow;
        position: absolute;
        left:95px;
        top:0px;
    }
}
#player {
    width: 20px;
    height: 20px;
    // background-color: blue;
    position: absolute;
    z-index: 2;
}

#car{
    // background-color: red !important;
    

    &:before{
        content:url('../resources/svg/truck.svg');
            
    
    }
}

.npcCar{
    // background-color: red;
    height:60px !important;
    width:120px !important;
    border-radius: 15px;
        &:before{
            content:url('../resources/svg/police.svg');
        }
    
    
}


  

#building {
    width: 100px;
    height: 150px;
    background-color: rgb(76, 76, 76);
    position: absolute;
    left: 200px;
    top: 200px;
    // z-index: 1;
    box-shadow: 10px 10px 0px black;

}


//gas
#building3{
    position:absolute;
    top:0px;
    text-align: center;
    background: none !important;
    overflow: hidden;
    // &:after{
    //     content:"Gas Beer Lotto";
    //     color:white;
    //     position:absolute;
    //     top:0px;
    //     text-align: center;
    // }
    // transform:rotate(-5deg);
    &:before{
        content:url('../resources/buildings/bar_two.svg');
        transform:none;
        top:0px;
        left:0px;
        height:100%;
        width:100%;
        background: none !important;
}
}


//bar
#building4{

    position:absolute;
    top:0px;
    // text-align: center;
    background: none !important;
    // &:after{
    //     content:"The Bar";
    //     color:white;
    //     position:absolute;
    //     // top:0px;
    //     text-align: center;
    // }

        &:before{
        content:url('../resources/buildings/bar.svg');
        transform:none;
        top:0px;
        left:-10px;
        background: none !important;

}
    
}

#building5, #pot_right{
    background-color: green !important;

    &:after{
    content:'420Spot';
    color:white;
    position:absolute;
    top:0px;
    text-align: center;
}
}

#building6{
    // .overlay{
    //     top:30%;
    // }
    position:absolute;
    top:0px;
    text-align: center;
    background: purple !important;
//     &:before{
//         content:url('../resources/buildings/casino.svg');
//         transform:none;
//         top:0px;
//         left:0px;
//         background: none !important;

// }
}

#interior-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    padding: 50px;

    .building{
    z-index:4;
    font-family: montserrat;
    font-size: 1.5rem !important;
    perspective: 300px; /* Adjust the perspective value for the desired depth effect */
    position: relative;
    .overlay{
        position: absolute;
        height:100%;
        width:100%;
        top:0px;
        left:0px;
        // background-color: red;
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            right:100%;
            z-index: -4;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.28) 50%);
            transform-origin: bottom right;
            transform: skewy(-25deg) ;
            // box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3); /* Adjust shadow as needed */
            z-index: -2;
        
          }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: fit-content; /* Adjust the height of the base */
        background-color: #404040; /* Darkest color for the base */
      }
    
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        margin-left:auto;
        margin-right:auto;
        z-index: -4;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.28) 100%);
        transform-origin: top center;
        transform: skewX(-25deg) ;
        // box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3); /* Adjust shadow as needed */
        z-index: -2;
    
      }

}
}

 .building{
    z-index:4;
    font-family: montserrat;
    font-size: 1.5rem !important;
    perspective: 300px; /* Adjust the perspective value for the desired depth effect */
    position: relative;
    // .overlay{
    //     position: absolute;
    //     height:100%;
    //     width:100%;
    //     top:0px;
    //     left:0px;
    //     // background-color: red;
    //     &:before {
    //         content: '';
    //         position: absolute;
    //         top: 0px;
    //         right:100%;
    //         z-index: -4;
    //         width: 100%;
    //         height: 100%;
    //         background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.28) 50%);
    //         transform-origin: bottom right;
    //         transform: skewy(-25deg) ;
    //         // box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3); /* Adjust shadow as needed */
    //         z-index: -2;
        
    //       }
    // }

    // &:after {
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: fit-content; /* Adjust the height of the base */
    //     background-color: #404040; /* Darkest color for the base */
    //   }
    
    //   &:before {
    //     content: '';
    //     position: absolute;
    //     top: 100%;
    //     margin-left:auto;
    //     margin-right:auto;
    //     z-index: -4;
    //     width: 100%;
    //     height: 100%;
    //     background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.28) 100%);
    //     transform-origin: top center;
    //     transform: skewX(-25deg) ;
    //     // box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3); /* Adjust shadow as needed */
    //     z-index: -2;
    
    //   }

}


// interior of building A
/* Add door styles */
#door, #door-home, #door-casino, #door-warehouse {
    width: 20px;
    height: 50px;
    background-color: #ff00ea; /* Brown color for the door */
    position: absolute;
    // left: 40%; /* Adjust the position as needed */
    // top: 50%; /* Adjust the position as needed */
    z-index: 2; /* Make sure the door is above the background */
    border-radius: 0px 50%  50% 0px;
}

.bullet {
    position: block;
    width: 15px !important;
    height: 15px !important;
    background-color:white;
    border-radius: 50%;    
}

body {
    margin: 0;
    // overflow: hidden;
    background-color: darkgreen;
    background-image: url('../resources/grass.jpg');
    background-repeat: repeat;
    background-size: 60px;
    background-position: center center;
}


.enemy{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    border:2px solid black;
    box-shadow: 0px 0px 3px black;
    z-index: 2;
    
}
.enemy{
    // transition: transform 0.5s ease-out;
    background-color: aqua;
}

.dead{
    z-index: -2;
    background-color: #28004f;
    display: flex;
align-items: center;
    &:after{
        z-index: -10;
        content:url('../resources/player/splatter.svg');
        transform:none;
        top:inherit;
        height:200%;
        width:200%;
        transform:translateX(-10px);
        left:inherit;
        position: absolute;
        background: none !important;
        transform-origin: center center;
    }

}

#player{
    height:20px;
    width:20px;
    background-color: orange;


}
.explosion {
    transform: scale(1.5);
    opacity: 0;
}

.no-highlight{
    user-select: none; // chrome and Opera
    -moz-user-select: none; // Firefox
    -webkit-text-select: none; // IOS Safari
    -webkit-user-select: none; // Safari
 }