.HUD{
    width:500px;
    position: fixed;
    border-radius: 25px;
    bottom:40px;
    left:40px;
    height:100px;
    background-color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
    z-index: 99;
    .playerBar{
        display: flex;
        justify-content: space-between;
        width:100%;
        p{
            font-size: 2rem;
            font-family: montserrat;
            color:white;
        }
        .healthBar{
            display: flex;
            svg{
                fill:white;
                height:30px;
            }
        }
        .itemBar{
            display: flex;
            svg{
                fill:black;
            }
        }
    }

}

.reloadText{
    font-size: 5rem;
    color:black;
    font-family: oswald;
    position: fixed;
    top:30%;
    text-align: center;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    display: none;
    z-index: 40;
}